@import "tailwindcss";

@theme {
  --color-primary: #135bec;
  --color-primary-content: #ffffff;
  --color-primary-dark: #0e45b8;
  --color-background-light: #f6f6f8;
  --color-background-dark: #101622;
  --color-surface-light: #ffffff;
  --color-surface-dark: #1e293b;
  --font-display: "Inter", "sans-serif";
  --font-sans: "Inter", "sans-serif";
  --radius-xl: 0.75rem;
  --radius-2xl: 1rem;
  --radius-3xl: 1.5rem;
}

@layer utilities {
  .glass-card {
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.4);
  }
}

.dark .glass-card {
    background: rgba(16, 22, 34, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.05);
}

body {
  margin: 0;
  padding: 0;
}
